


/*.container {
    height: 600px;
    
}*/

.container a1{
    height: 600px;
    background-color: blue;

}

.container a2{
    background-color: aqua;
}
.container a3{
    background-color: blue;

}
.container a4{
    background-color: yellow;
}
.container a5{
    background-color: aqua;
}
.container a6{
    background-color: blue;

}
.container a7{
    background-color: yellow;
}


